<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-gema-list-documents-styles.html">
<link rel="import" href="../bbva-list-link-icon/bbva-list-link-icon.html">
<link rel="import" href="../gema-cells-generic-dp/gema-cells-generic-dp.html"">
<link rel="import" href="../cells-file-reader/cells-file-reader.html"">
<dom-module id="cells-gema-list-documents">
  <script src="cells-gema-list-documents.js"></script>
</dom-module>