@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-gema-list-documents;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.container {
  margin: var(--cells-gema-list-documents-margin, 5%);
}

bbva-list-link-icon:hover {
  text-decoration: var(--cells-gema-list-documents-decoration-underline, underline);
}

