<custom-style>
  <style>
    body {
      margin: 0;
      background-color:#F5F5F5;
    }

    @media (max-width: 768px) {
      *, *:before, *:after {
        -webkit-tap-highlight-color: transparent;
      }
    }
  </style>
</custom-style>
